.footer {
  position: relative;
  margin: 13px auto 24px;
  width: calc(100% - (48px*2));
  height: 18px;
}

@media screen and (max-width: 1280px) {
  .footer {
    width: calc(100% - (48px*2));
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - (24px*2));
  }
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}