.places {
  display: grid;
  margin: 92px auto 0;
  padding: 0;
  width: calc(100vw - 148px*2);
}

@media screen and (min-width: 1280px) {
  .places{
    width: 984px;
  }
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100vw - 48px*2);
  }
}

@media screen and (max-width: 780px) {
  .places {
    width: calc(100vw - 24px*2);
  }
}

@media screen and (max-width: 608px) {
  .places {
    width: 100vw;
    margin: 64px 0 0 0;
  }
}