.cover__subtitle {
  position: relative;
  width: 360px;
  margin: 32px auto 260px;
  color: white;
  font-family: 'Inter', 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 10;
  opacity: 1;
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
    width: 360px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__subtitle { 
    margin-bottom: 195px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin-bottom: 115px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 288px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    margin-bottom: 33px;
  }
}
