.place__title {
  width: 460px;
  font-family: 'Inter';
  margin: 0 0 48px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
}

@media screen and (max-width: 1280px) {
  .place__title {
    width: 440px;
  }
}

@media screen and (max-width: 1280px) {
  .place__title {
    width: 340px;
    font-size: 42px;
  line-height: 46px;
  }
}

@media screen and (max-width: 1280px) {
  .place__title {
    width: 320px;
  }
}