.footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  position: relative;
  margin: 92px auto 0;
  width: calc(100% - (48px*2));
}

@media screen and (min-width: 1280px) {
  .footer{
    width: 1184px;
  }
}

@media screen and (min-width: 768px) {
  .footer{
    width: calc(100% - (24px*2));
    margin-top: 88px;
  }
}

@media screen and (max-width: 680px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
  }
}