.place__website {
  margin: auto 0 48px 40px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .place__website {
    margin-left: 32px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .place__website {
    margin-left: 28px;
  }
}

@media screen and (max-width: 608px) {
  .place__website {
    max-width: 288px;
    margin: 32px 0 0 16px;
    grid-column: 1;
    grid-row: 2;
  }
}

