.paragraph-container {
  margin-left: auto;
  padding: 0;
  grid-column: 2;
  grid-row: 2;
}

@media screen and (max-width: 1280px) {
  .paragraph-container {
    margin-left: 32px;
  }
}

@media screen and (max-width: 124px) {
  .paragraph-container {
    margin-left: 26px;
  }
}

@media screen and (max-width: 768px) {
  .paragraph-container {
    margin: 0 auto 0;
    grid-column: 1;
    grid-row: 4;
  }
}